* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --body-bg: #040404;
  --higlight-tq: #39f5c8;
  --hover: #1c8464;
  --highlight-text: #212121;
  --card-bg: #373737;
  --input: #2f2f2f;
  --text-white: #d9dadb;
  --page-links-grey: #7c7c7e;
}

html, body {
  width: 100%;
  font-size: 16px;
  /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
  overflow-x: hidden;
  color: var(--text-white);
  background: var(--body-bg);
}

/*
  @media (min-width: 320px) {

  }
  @media (min-width: 567px) {
    
  }
  @media (min-width: 768px) {
    
  }
  @media (min-width: 992px) {
    
  }
  @media (min-width: 1200px) {
    
  }
  */

/* Typography */

a {
  text-decoration: none;
  color: var(--highlight-text);
}

/* ------------------- */

button {
  padding: 0.6rem;
  border: none;
  border-radius: 4px;
  outline: none;
  color: var(--highlight-text);
  background-color: var(--higlight-tq);
}

button:hover {
  background-color: var(--hover);
}

.img-wrapper {
  background-size: cover;
  background-position: center;
}