header {
	width: 100vw;
	height: 5.5rem;
	padding: 6rem 8.3rem;
	display: flex;
	align-items: center;
	justify-content: space-between;
	font-weight: 800;
	color: var(--highlight-text);
}

.logo {
	width: 4rem;
	height: 4rem;;
	background-color: var(--higlight-tq);
}

.logo .logo-text {
	width: 100%;
	height: 100%;
	/* padding: 1rem;
	font-size: 1rem;
	text-align: center;
	word-wrap: break-word; */
}

a h1 {
	padding: 0 1rem;
	font-size: 0.7rem;
}